body {
  margin: 0;
  overscroll-behavior: none; /* Disable Chrome two fingers back/forward swipe */
  user-select: none;  /* Prevent accidental selection while dragging mouse */
  touch-action: none;
  
  background-color: #112;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
}

.scores {
  position: absolute;
  font-family: sans-serif;
  padding: 2px;
}

.scoreLabel {
  font-weight: bold;
}

.scoreValue {
  padding-right: 10px;
}